opencv-python==4.9.0.80
pydantic==2.7.1
pydantic_settings==2.2.1
pyautogui==0.9.54
torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0
fastapi==0.111.0
uvicorn==0.29.0
pySerial==3.5
requests==2.32.2
PyYAML==6.0.1